apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "admin",
      "password": "cisco.123",
      "url": "https://10.122.18.27",
      "insecure": true
    }
